:root {
    --primary-dark: #1a2b4d;
    --link-color: #0056b3;
    --link-hover-color: #004494;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

main h2,
main h3 {
    color: var(--primary-dark);
    margin-bottom: 10px;
    text-align: center;
}

main p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #444;
    text-align: center;
    font-size: 1.1em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-dark);
    color: #fff;
    padding: 10px 20px;
    flex-direction: row-reverse;
}

#header-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#header-nav ul li {
    margin: 0 15px;
}

#header-nav ul li a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#header-nav ul li a.active,
#header-nav ul li a:hover {
    background-color: var(--link-hover-color);
    color: white;
}

.hero {
    text-align: center;
    background-color: #f4f4f9;
    padding: 20px 20px;
    border-bottom: 2px solid #ddd;
}

.hero h1 {
    color: var(--primary-dark);
    font-size: 2.4em;
}

.hero p {
    font-size: 1em;
    color: var(--primary-dark);
}

.about-hero {
    background-color: linear-gradient(to bottom, #1a2b4d, #0056b3);
    color: var(--primary-dark);
    padding: 50px 20px;
    text-align: center;
}

.about-hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-hero p {
    font-size: 1.2em;
    margin-top: 10px;
}

section {
    margin: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0, 1);
}

section h2 {
    color: var(--primary-dark);
    text-align: center;
    margin-bottom: 15px;
}

section p,
section ul {
    font-size: 1.1em;
    color: #444;
    line-height: 1.6;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 5px;
}

ul li strong {
    color: var(--primary-dark);
}

@media (max-width: 768px) {
    body {
        font-size: 90%;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }
}

footer {
    background-color: var(--primary-dark);
    color: var(--link-color);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#footer-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#footer-nav ul li {
    margin: 0 10px;
}

#footer-nav ul li a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#footer-nav ul li a:hover {
    background-color: var(--link-hover-color);
    color: white;
}

.profile-photo {
    display: block;
    margin: 20px auto;
    max-width: 450px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#social-links a {
    margin: 0 10px;
    padding: 10px;
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#social-links a:hover {
    color: var(--link-hover-color);
}

#social-links p {
    padding: 10px;
    color: var(--primary-dark);
}

.background-profile,
.experience-profile,
.skills-profile,
.interests-profile {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.background-profile {
    background-color: #f1f1f1;
}

.experience-profile {
    background-color: #f9f9f9;
}

.skills-profile {
    background-color: #f1f1f1;
}

.interests-profile {
    background-color: #f9f9f9;
}

.experience-profile p,
.skills-profile p {
    font-size: 1.1em;
    color: #444;
}

.experience-profile ul,
.skills-profile ul {
    list-style-type: none;
    padding-left: 0;
}

.experience-profile li,
.skills-profile li {
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
    font-size: 1.1em;
}

.skills-profile li {
    padding-left: 0;
}

.skills-profile li strong,
.experience-profile li strong {
    color: var(--primary-dark);
}

.interests-profile img {
    max-width: 800px;
    width: 100%;
    border-radius: 8px;
    display: block;
    margin: 15px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-details h3 {
    margin: 0;
    font-size: 1.4em;
    color: var(--primary-dark);
}

.project-details p {
    margin: 0;
    font-size: 0.95em;
    color: #555;
    line-height: 1.5;
}

.project-details strong {
    color: #333;
}

.form-profile h2 {
    color: var(--primary-dark);
    text-align: center;
    margin-bottom: 20px;
}

.form-profile p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.1em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 1.1em;
    color: var(--primary-dark);
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9;
}

form input:focus,
form textarea:focus {
    border-color: var(--primary-dark);
    outline: none;
}

form textarea {
    resize: vertical;
    min-height: 150px;
}

textarea::placeholder {
    font-family: Arial, sans-serif;
}

form button {
    background-color: #0056b3;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #004494;
}

.profile-grid {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.experience-grid,
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.experience-item,
.skill-item {
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.interest-photo {
    width: 100%;
    border-radius: 8px;
    margin-top: 1rem;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-dark);
    color: white;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
}

#scrollToTopBtn:hover {
    background-color: var(--link-hover-color);
}

#live-clock {
    font-size: 1em;
    color: var(--primary-dark);
    margin-top: 5px;
    text-align: center;
}

#live-date {
    margin-top: 10px;
    font-size: 1em;
    color: var(--primary-dark);
    text-align: center;
}